.sidebar {
  position: fixed;
  margin-top: 48px;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  background-color: #212529;
  color: white;
  z-index: 1040;
  transition: width 0.3s ease;
}

.sidebar-expanded {
  width: 250px;
}

.sidebar-collapsed {
  width: 60px;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
